<section class="py-5 bg-light">
   <div class="container sign-container my-md-4">
      <div class="text-center mb-4">
        <h2>Sign up to Coinbutter</h2>
        <p class="mt-2 text-center text-sm text-gray-600">
          Or
          <a href="/auth/signin">Sign in if you have an account?</a>
        </p>
      </div>
      <div class="card rounded p-4 p-md-5">
         <form action="/auth/signup" method="POST">
            {{#if errorMessage.message}} <div class="alert alert-danger py-2" role="alert">{{errorMessage.message}}</div> {{/if}}
         
            <div class="mb-3">
               <label for="firstName" class="form-label">First name</label>
               <input type="text" name="firstName" class="form-control" id="firstName" value="{{form.firstName}}">
            </div>
            <div class="mb-3">
               <label for="lastName" class="form-label">Last name</label>
               <input type="text" name="lastName" class="form-control" id="lastName" value="{{form.lastName}}">
            </div>
            <div class="mb-3">
               <label for="email" class="form-label">Email address *</label>
               <input type="email" name="email" class="form-control {{#if errorMessage.email}}is-invalid{{/if}}" id="email"required="required" value="{{form.email}}">
               {{#if errorMessage.email}} <div class="form-text text-danger">{{errorMessage.email}}</div> {{/if}}
            </div>
            <div class="mb-3">
               <label for="password" class="form-label" alt="Password must be at least 8 chars and must contain at least one number, one lowercase and one uppercase letter.">Password *</label>
               <input type="password" name="password" class="form-control {{#if errorMessage.password}}is-invalid{{/if}}" id="password"  required="required"  aria-describedby="passwordHelp"  value="{{form.password}}">
               {{#if errorMessage.password}} <div class="form-text text-danger">{{errorMessage.password}}</div> {{/if}}
               <div id="passwordHelp" class="form-text small">Password must be at least 8 chars and must contain at least one number, one lowercase and one uppercase letter.</div>
            </div>
            <button type="submit" class="btn btn-primary w-100 btn-lg">Sign Up</button>
         </form>
      </div>
      <p class="py-3 text-muted small text-center">Copyright&copy; Coinbutter 2022. Made with love in Lisbon.</p>
   </div>
</section>

