<section class="py-5 bg-light">
   <div class="container sign-container my-md-4">
      <div class="text-center mb-4">
        <h2>Edit your profile</h2>
      </div>
      {{#if errors.success}} <div class="alert alert-success py-2 mb-3" role="alert">{{errors.success}}</div> {{/if}}
      <div class="card border-0 shadow-sm rounded p-4 mb-3 ">
         <h2 class="lead mb-4">Account Information</h2>
         <form action="/profile/{{userId}}/edit" method="POST" enctype="multipart/form-data">

            {{#if errors.message}} <div class="alert alert-danger py-2" role="alert">{{errors.message}}</div> {{/if}}
            
            <div class="rounded bg-light border p-3 mb-3 ">
                <div class="form-group">
                  <label>Profile:
                     <input type="file" name="profile-picture" class="form-control-file" />
                     <input type="text" name="existingImage" hidden value="{{profileImage}}">
                  </label>
               </div>
            </div>
            
            <div class="form-floating mb-3">
                <input type="text" class="form-control shadow-sm" id="firstName" name="firstName" value={{user.firstName}}>
                <label for="firstName">First name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control shadow-sm" id="lastName" name="lastName" value={{user.lastName}}>
                <label for="lastName">Last name</label>
            </div>
             <div class="form-floating mb-3">
                <input type="email" class="form-control shadow-sm" id="email" name="email" placeholder="Email" value="{{user.email}}" required>
                <label for="email">Email address *</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">Save</button>
         </form>
      </div>

      <div class="card border-0 shadow-sm rounded p-4">
         <h2 class="lead mb-4">Update Password</h2>
         <form action="/profile/{{userId}}/edit/password" method="POST">
               {{#if errors.message}} <div class="alert alert-danger py-2" role="alert">{{errors.message}}</div> {{/if}}
               <div class="form-floating mb-3">
                  <input type="hidden" name="reset" value="{{reset}}">
                  <input type="password" class="form-control shadow-sm" id="oldPassword" name="oldPassword" placeholder="Password" required>
                  <label for="oldPassword">Old Password *</label>
               </div>
               <div class="form-floating mb-3">
                  <input type="hidden" name="reset" value="{{reset}}">
                  <input type="password" class="form-control shadow-sm" id="password" name="password" placeholder="Password" required>
                  <label for="nemail">New Password *</label>
                  <div id="passwordHelp" class="form-text small text-left mt-2">Password must be at least 8 chars and must contain at least one number, one lowercase and one uppercase letter.</div>
               </div>
               <div class="form-floating mb-3">
                  <input type="hidden" name="reset" value="{{reset}}">
                  <input type="password" class="form-control shadow-sm" id="repeatPassword" name="repeatPassword" placeholder="Password" required>
                  <label for="repeatPassword">Repeat New Password *</label>
               </div>
               <button type="submit" class="btn btn-primary w-100">Update</button>
         </form>
      </div>
   </div>
</section>