{{#if this.image}}
    <img src="{{ this.image }}" alt="{{ this.symbol }}" class="align-self-center mr-3" />
{{/if}}
<div class="coin-inner">
    <h3 class="mt-0">
        <a href="/assets/{{this.id}}">
            {{this.id}}
        </a>
    </h3>

    <h5>{{this.symbol}}</h5>
    <p>{{this.current_price}}</p>
</div>