<nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container">
        <a class="navbar-brand mb-0" href="/"><img src="/images/assets/coinbutter.png" class="logo"/></a>
        <button class="d-inline-block d-lg-none btn btn-sm btn-darker" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{#if connectedUser}}
                <li class="nav-item mx-2">
                    <a class="nav-link" aria-current="page" href="/dashboard">Dashboard</a>
                </li>
                {{else}}
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/#why">Why Coinbutter?</a>
                </li>
                
                {{/if}}
            </ul>
            <ul class="navbar-nav ms-auto" aria-labelledby="navbar">
                <li class="nav-item  mx-2">
                    <a class="nav-link" href="/help">Help?</a>
                </li>
                <div class="d-flex align-items-center justify-content-between me-2">
                    <div class="d-flex align-items-center">
                        <div class="darkmode-switcher">
                            <input class="darkmode-switch" type="radio" name="darkmode" id="darkmodeoff" value="off">
                            <label class="darkmode-icon"  for="darkmodeoff">
                                <i data-feather="sun"></i>
                                <span class="d-none">on</span>
                            </label>
                        </div>
                        <div class="darkmode-switcher">
                            <input class="darkmode-switch" type="radio" name="darkmode" id="darkmodeon" value="on">
                            <label class="darkmode-icon" for="darkmodeon">
                                <i data-feather="moon"></i>
                                <span class="d-none">off</span>
                            </label>
                        </div>
                    </div>
                </div>
                {{#if connectedUser}}
                <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle d-inline-flex align-items-center" href="/profile/{{connectedUser.id}}/edit" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{connectedUser.image}}" alt="user profile picture" class="m-0 me-1 rounded" width="25"/>
                </a>
                <ul class="dropdown-menu dropdown-menu-end border-0 shadow-sm" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item border-bottom" href="/profile/{{connectedUser.id}}/edit">Profile Settings</a></li>
                    <li>
                    <form action="/auth/signout" method="post">
                        <button class="dropdown-item text-danger">Sign Out</button>
                    </form>
                    </li>
                </ul>
                </li>
                {{else}}
                <li class="nav-item">
                <a class="nav-link" href="/auth/signin">Sign In</a>
                </li>
                <li class="nav-item mx-2">
                <a class="nav-link text-white btn btn-primary btn-sm" href="/auth/signup">Sign Up</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
{{#if connectedUser}}
{{#unless connectedUser.active}}<div class="container my-2">
    <div class="alert alert-warning text-center py-2" role="alert">
    <strong>Please confirm your email address</strong> so your account doesn't get deactivated. <form method="post" action="/activate/resend" class="d-inline-flex"><input type="hidden" name="userId" value="{{connectedUser.id}}"/><button type="submit" class="btn text-dark text-decoration-underline">Resend Confirmation</button></form>
    </div>
{{/unless}}
{{/if}}