<section class="py-3 py-md-5 overflow-hidden">
    <div class="container">
        <div class="row">
            <article class="col-12">
                {{#if portfolios}}
                <div class="card mb-4 bg-transparent border-0">
                    <div class="card-body pt-0 px-0">
                        <p class="lead text-muted">Total portfolio balance</p>
                        <h1 class="display-4">${{#amountFormatter dashboard.total}}{{/amountFormatter}}</h1>
                        <!-- <canvas class="cb-linechart" width="1024" height="300" data-sparkline="{{coin.sparkline_in_7d.price}}"></canvas> -->
                    </div>
                </div>
                <div class="mb-4 border-0">
                    
                    <p class="lead text-muted d-flex align-items-center">Portfolios <a href="/portfolio/create" class="btn btn-primary btn-sm p-0 ms-2"><img src="/images/assets/plus-icon.svg" width="21"/></a></p>
                    <div class="d-flex pb-3">
                        <div class="swiper portfolio-swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                {{#each portfolios}}
                                    <div class="swiper-slide">
                                        <div class="portfolio-card card me-3 border-0 shadow-sm">
                                            <div class="card-body">
                                                <div class="d-flex align-items-start justify-content-between">
                                                    <a href="/portfolio/{{_id}}" class="text-decoration-none text-dark">
                                                        <h2 class="lead">{{name}}</h2>
                                                    </a>
                                                    <div class="dropdown">
                                                        <button class="btn btn-sm btn-outline-darker text-dark py-0" type="button" id="{{portfolio.id}}-dropdown" data-bs-toggle="dropdown" aria-expanded="false" style="line-height:1;">
                                                            <img src="/images/assets/more.svg" width="18"/>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end border-0 shadow-sm" aria-labelledby="{{portfolio.id}}-dropdown">
                                                            <li><a href="/portfolio/{{_id}}/edit" class="dropdown-item">Edit</a></li>
                                                            <li>
                                                                <form action="/portfolio/{{_id}}/delete" method="POST">
                                                                    <button type="submit" class="dropdown-item text-danger">Delete</button>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <a href="/portfolio/{{_id}}" class="text-decoration-none text-dark">
                                                    <h3 class="mb-0">&dollar;{{total}}</h3>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>

                        </div>
                        
                        
                        
                    </div>
                    
                    
                    
                </div>
                {{else}}
                <div class="py-4 py-md-5 px-3 text-center">
                    <div class="col-12 mx-auto">
                        <img src="../images/assets/portfolio.png" alt="portfolio icon" width="200"/>
                        <h2 class="h3">Create Your First Portfolio</h2>
                        <p class="text-muted">Some quirky subtitle to get them to create a portfolio</p>
                        <a href="/portfolio/create" class="btn btn-primary">New Portfolio</a>
                    </div>
                </div>
                {{/if}}
            </article>
            <article>
                <div class="card mb-4 border-0 shadow-sm">
                    <div class="card-header bg-white p-3">
                        <h2 class="h5 mb-0">Market</h2>
                    </div>
                    <div class="card-body pb-2 pt-0">
                        <div class="row p-2 py-md-3 border-bottom">
                            <div scope="col" class="col flex-shrink-0 text-center" style="max-width: 60px;">#</div>
                            <div scope="col" class="col-4 col-md ">Name</div>
                            <div scope="col" class="col">Price</div>
                            <div scope="col" class="col d-none d-lg-block">Market Cap</div>
                            <div scope="col" class="col d-none d-lg-block">Total Volume</div>
                            <div scope="col" class="col d-none d-lg-block">All Time Hight</div>
                            <div scope="col" class="col d-none d-lg-block">Last 7 Days</div>
                        </div>
                        
                        <ul class="list-group list-group-flush">
                            {{#each coins}} {{> assets/assetList this}}{{/each}}
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script>
    const chart = document.querySelector('.cb-linechart')
    const ctx = chart.getContext('2d');
    const data = chart.dataset.sparkline.split(',');
    console.log(data)
    const days = '0123456'.split('').map(function(n) {
        var d = new Date();
        d.setDate(d.getDate() - n);

        return (function(day, month, year) {
            return [day<10 ? '0'+day : day, month<10 ? '0'+month : month].join('/');
        })(d.getDate(), d.getMonth()+1);
    }).reverse();
    console.log(days);
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: days,
            datasets: [{
                label: '# of Votes',
                data: data,
                borderColor: [
                    '#FF9C41',
                ],
                borderWidth: 3
            }]
        },
        options: {
            datalabels: {
                display: false,
            },
            plugins: {
                legend: {
                    display:false
                }
            },
            scales: {
                display:false,
                xAxes: [{
                    display: false //this will remove only the label
                }]
            }
        }
    });
</script> -->