
<section class="py-3 py-md-4 bg-light">
   <div class="container sign-container my-md-4">
      <div class="text-center mb-4">
        <h2>New Transaction</h2>
        <p class="lead">Add your crypto transactions.</p>
      </div>
      <div class="card rounded border-0 shadow-sm transactionForm">
        <div class="nav mt-3 w-100 d-inline-flex nav-tabs mx-auto align-items-center justify-content-center" id="nav-tab" role="tablist">
            <button class="nav-link active lead px-4" id="nav-buy-tab" data-bs-toggle="tab" data-bs-target="#nav-buy" type="button" role="tab" aria-controls="nav-buy" aria-selected="true">Buy</button>
            <button class="nav-link lead  px-4" id="nav-sell-tab" data-bs-toggle="tab" data-bs-target="#nav-sell" type="button" role="tab" aria-controls="nav-sell" aria-selected="false">Sell</button>
        </div>
        <div class="card-body p-4 p-md-5">
          
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-buy" role="tabpanel" aria-labelledby="nav-buy-tab">
              <form action="/portfolio/{{portfolioId}}/transactions/create" method="POST">
                <input type="hidden" class="d-none" name="currency" value="USD"/>
                <input type="hidden" class="d-none" id="transactionType" name="transactionType" value="buy"/>
                <div class="form-floating mb-3">
                  <select class="form-select coinSelect" id="coinSelect" name="coin" aria-label="Floating label select example">
                    {{#each coins}}
                    <option value="{{_id}}" data-coin-price="{{current_price}}">{{name}}</option>
                    {{/each}}
                  </select>
                  <label for="coinSelect">Currency</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="price" name="price" placeholder="Price" value="{{coins.0.current_price}}" required="required">
                  <label for="price">Price</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="amount" name="amount" placeholder="Price" required="required" min="0">
                  <label for="amount">Amount</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="total" name="total" placeholder="Price">
                  <label for="total">Total</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="date" class="form-control" id="created" name="created" placeholder="Price">
                  <label for="created">Transaction Date</label>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control" placeholder="Leave a comment here" id="note"  name="note" style="height: 100px"></textarea>
                  <label for="note">Note</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Create Transaction</button>
              </form>
            </div>
            <div class="tab-pane fade" id="nav-sell" role="tabpanel" aria-labelledby="nav-sell-tab">
              <form action="/portfolio/{{portfolioId}}/transactions/create" method="POST">
                <input type="hidden" class="d-none" name="currency" value="USD"/>
                <input type="hidden" class="d-none" id="transactionType" name="transactionType" value="sell"/>
                <div class="form-floating mb-3">
                  <select class="form-select coinSelect" id="floatingSelect" aria-label="Floating label select example">
                    {{#each coins}}
                    <option value="{{_id}}" data-coin-price="{{current_price}}">{{name}}</option>
                    {{/each}}
                  </select>
                  <label for="floatingSelect">Currency</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="price" name="price" placeholder="Price" value="{{coins.0.current_price}}">
                  <label for="price">Price</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="amount" name="amount" placeholder="Price">
                  <label for="amount">Amount</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="total" name="total" placeholder="Price">
                  <label for="total">Total</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="date" class="form-control" id="created" name="created" placeholder="Price">
                  <label for="created">Transaction Date</label>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control" placeholder="Leave a comment here" id="note"  name="note" style="height: 100px"></textarea>
                  <label for="note">Note</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Create Transaction</button>
              </form>
            </div>
          </div>
            
        </div>
      </div>
   </div>
</section>