<section class="py-3 py-md-4 bg-light">
   <div class="container sign-container my-md-4">
      <div class="text-center mb-4">
        <h2>Update Transaction</h2>
        <p class="lead">Update this transaction.</p>
      </div>
      <div class="card rounded border-0 shadow-sm transactionForm">
        <div class="card-body p-4 p-md-5">
          <form action="/portfolio/{{portfolioId}}/asset/{{assetId}}/transactions/{{transactionId}}/edit" method="POST">
                <input type="hidden" class="d-none" name="currency" value="USD"/>
                <input type="hidden" class="d-none" id="transactionType" name="transactionType" value="{{transaction.transactionType}}"/>
                <input type="hidden" class="d-none" id="coin" name="coin" value="{{coin}}"  data-coin-price="{{current_price}}">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="price" name="price" value="{{transaction.price}}" required="required" min="0">
                  <label for="price">Price</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="amount" name="amount" value="{{transaction.amount}}" required="required" min="0">
                  <label for="amount">Amount</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="total" name="total" value="{{transaction.total}}">
                  <label for="total">Total</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="date" class="form-control" id="created" name="created" value="{{transaction.created}}">
                  <label for="created">Transaction Date</label>
                </div>
                <div class="form-floating mb-3">
                  <textarea class="form-control" placeholder="Leave a comment here" id="note"  name="note" value="{{transaction.note}}" style="height: 100px"></textarea>
                  <label for="note">Note</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Update Transaction</button>
              </form>
            
        </div>
      </div>
   </div>
</section>