<section class="py-3 py-md-5">
    <div class="container">
        <div class="row">
            <article class="col-12 col-lg-8">
                <div class="card mb-4 bg-transparent border-0">
                    <div class="card-body pt-0 px-0 px-md-2">
                        <nav aria-label="breadcrumb" class="mb-4">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard" class="link-secondary">Dashboard</a></li>
                                <li class="breadcrumb-item active text-capitalize" aria-current="page">{{portfolio.name}}</li>
                            </ol>
                        </nav>
                        <h1 class="h3 d-flex align-items-center text-capitalize">{{portfolio.name}}</h1>
                        <h2 class="display-3 mb-0">&dollar;{{ portfolio.total }}</h2>
                        <!-- <canvas class="cb-linechart" width="1024" height="300" data-sparkline="{{coin.sparkline_in_7d.price}}"></canvas> -->
                    </div>
                </div>
            </article>
            <aside class="col-12 col-lg-4">
                <div class="card mb-3 border-0 shadow-sm">
                    <div class="card-body">
                        <h2 class="lead">Quick Convert</h2>
                    </div>
                </div>
            </aside>
            <article>
                <div class="card mb-3 border-0 shadow-sm">
                    <div class="card-header bg-white p-3">
                        <h2 class="h5 mb-0">Assets</h2>
                    </div>
                    <div class="card-body pb-2 pt-0 px-3 px-md-4">
                        <div class="row p-2 border-bottom">
                                <div scope="col" class="col-4 col-md ">Name</div>
                                <div scope="col" class="col">Holdings</div>
                                <div scope="col" class="col">Price</div>
                                <div scope="col" class="col d-none d-lg-block">Avg Buy Price</div>
                                <div scope="col" class="col d-none d-lg-block">Profit/Loss</div>
                                <div scope="col" class="col d-none d-lg-block">Last 7 Days</div>
                                <div scope="col" class="col"></div>
                        </div>
                        <ul class="list-group list-group-flush">
                            {{#each portfolio.assets}}
                            <li class="list-group-item px-0 py-2 py-md-2 d-flex row align-items-center">
                                <div class="col-4 col-md d-flex align-items-center">
                                    <img src="{{coin.image}}" class="me-2"alt="Bitcoin" width="34"/>
                                    <div>
                                        <h3 class="h6 mb-0 ">{{coin.name}}</h3>
                                        <p class="mb-0 text-muted text-uppercase"><small>{{coin.symbol}}</small></p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <p class="mb-0">&dollar;{{totalAmount}}</h3>
                                        <p class="mb-0 text-muted text-uppercase"><small>{{amount}} {{ coin.symbol }}</small></p>
                                    </div>
                                </div>
                                
                                <div class="col">
                                    <div>
                                        <p class="mb-0">${{coin.current_price}}</h3>
                                        <p class="mb-0 {{#checkIfUpOrDown}}{{/checkIfUpOrDown}}"><small>{{coin.price_change_percentage_24h}}%</small></p>
                                    </div>
                                </div>
                                <div class="col d-none d-lg-block">
                                    <div>
                                        <p class="mb-0">$39,000.00</h3>
                                        <p class="mb-0 text-success"><small>+6%</small></p>
                                    </div>
                                </div>
                                <div class="col d-none d-lg-block">
                                    <div>
                                        <p class="mb-0 text-success">+$10,000.00</h3>
                                    </div>
                                </div>
                                <div class="col d-none d-lg-block">
                                    <div>
                                        <p class="mb-0">Littel Graph</h3>
                                    </div>
                                </div>
                                <div align="right" class="col"><a href="/portfolio/{{../portfolio._id}}/asset/{{id}}" class="btn btn-outline-secondary">Details</a></div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script>
    const chart = document.querySelector('.cb-linechart')
    const ctx = chart.getContext('2d');
    const data = chart.dataset.sparkline.split(',');
    console.log(data)
    const days = '0123456'.split('').map(function(n) {
        var d = new Date();
        d.setDate(d.getDate() - n);

        return (function(day, month, year) {
            return [day<10 ? '0'+day : day, month<10 ? '0'+month : month].join('/');
        })(d.getDate(), d.getMonth()+1);
    }).reverse();
    console.log(days);
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: days,
            datasets: [{
                label: '# of Votes',
                data: data,
                borderColor: [
                    '#FF9C41',
                ],
                borderWidth: 3
            }]
        },
        options: {
            datalabels: {
                display: false,
            },
            plugins: {
                legend: {
                    display:false
                }
            },
            scales: {
                display:false,
                xAxes: [{
                    display: false //this will remove only the label
                }]
            }
        }
    });
</script> -->