<section class="py-3 py-md-5">
    <div class="container">
        <div class="row">
            <article class="col-12 col-lg-8">
                <div class="card mb-3 bg-transparent border-0">
                    <div class="card-body px-0">
                        <nav aria-label="breadcrumb" class="mb-4">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/portfolio/{{portfolio._id}}" class="link-secondary">{{portfolio.name}}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{coin.name}}</li>
                            </ol>
                        </nav>
                        <div class="d-flex justify-content-between">
                            <div>
                                <h1 class="h3 d-flex align-items-center"><img src="{{coin.image}}" alt="{{coin.name}}" width="30"/><span class="mx-2">{{coin.name}}</span><span class="text-uppercase text-muted"><small>{{#amountFormatter asset.amount}}{{/amountFormatter}} {{coin.symbol}}</small></span></h1>
                                <!--<h2 class="display-3 mb-0"> {{coin.symbol}}</h2> -->
                                <h2 class="display-3 mb-0">&dollar;{{#amountFormatter asset.value}}{{/amountFormatter}}</h2>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <a href="/portfolio/{{portfolio._id}}/transactions/create?={{coin._id}}" class="btn btn-primary me-2">New Transaction</a>
                                    <form action="/portfolio/{{portfolio._id}}/asset/{{asset._id}}/delete" method="POST">
                                        <button type="submit" class="btn text-danger"><img src="/images/assets/delete-cb.svg" width="18"/></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--<canvas class="cb-linechart" width="1024" height="300" data-sparkline="{{coin.sparkline_in_7d.price}}"></canvas>-->
                        
                    </div>
                </div>
                <div class="card mb-3 border-0 shadow-sm">
                    <div class="card-body p-md-4">
                        <h2 class="h5 mb-3">Statistics</h2>
                        <div class="row">
                            <div class="col-6 col-md">
                                <p class="text-muted mb-2">% of Holdings</p>
                                <p class="h5">%{{#round2 asset.percentage}}{{/round2}}</p>
                            </div>
                            <div class="col-6 col-md">
                                <p class="text-muted mb-2">Avg Buy price</p>
                                <p class="h5">&dollar;{{#round2 asset.avgBuyPrice}}{{/round2}}</p>
                            </div>
                            <div class="col-6 col-md">
                                <p class="text-muted mb-2">Total PnL</p>
                                <p class="h5 {{#checkIfUpOrDown asset.pnl}}{{/checkIfUpOrDown}}">&dollar;{{#round2 asset.pnl}}{{/round2}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 border-0 shadow-sm">
                    
                    <div class="card-header bg-white p-3">
                        <h2 class="h5 mb-0">Transactions</h2>
                    </div>
                    
                    <div class="card-body pb-2 pt-0 px-3">
                        <div class="row p-2 border-bottom">
                                <div scope="col-1" class="col-1"></div>
                                <div scope="col" class="col">Amount</div>
                                <div scope="col" class="col">Price</div>
                                <div scope="col" class="col">Note</div>
                                <div scope="col" class="col">Date</div>
                        </div>
                        <ul class="list-group list-group-flush">
                            {{#each transactions}}
                            <li class="list-group-item d-flex row align-items-center py-2 py-md-2 mx-0 px-0">
                                <div class="col-1 mx-0 px-0"><span class="badge badge-primary bg-primary">{{transactionType}}</span></div>
                                <div class="col">{{amount}} <span class="text-uppercase text-muted small">{{../coin.symbol}}</span></div>
                                
                                <div class="col">&dollar;{{#round2 price}}{{/round2}}</div>
                                <div class="col">{{note}}</div>
                                <div align="right" class="col d-flex align-items-center justify-content-between pe-0">
                                    {{#DateFormater created}}{{/DateFormater}}
                                    <div class="d-flex">
                                        <a href="/portfolio/{{../portfolio._id}}/asset/{{../asset._id}}/transactions/{{_id}}/edit" class="btn px-1 btn-sm"><img src="/images/assets/edit-cb.svg" width="18"/></a>
                                        <form action="/portfolio/{{../portfolio._id}}/asset/{{../asset._id}}/transactions/{{_id}}/delete" method="POST">
                                            <button type="submit" class="btn px-1 btn-sm"><img src="/images/assets/delete-cb.svg" width="18"/></button>
                                        </form>
                                    </div>
                                    
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </article>
            <aside class="col-12 col-lg-4">
                {{!-- <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="lead">Quick Convert</h2>
                    </div>
                </div> --}}
                <div class="card mb-3">
                    <div class="card-body p-md-4">
                        <h2 class="h5 mb-3">Market stats</h2>
                        <div class="row">
                            <div class="col-6 col-md">
                                <p class="text-muted mb-2">Ranking</p>
                                <p class="h5">{{coin.market_cap_rank}}</p>
                            </div>
                            <div class="col-6 col-md">
                                <p class="text-muted mb-2">Market cap</p>
                                <p class="h5">&dollar;{{#amountFormatter coin.market_cap}}{{/amountFormatter}}</p>
                            </div>
                            <div class="col-6 col-md">
                                <p class="text-muted mb-2">Current Price</p>
                                <p class="h5">&dollar;{{#amountFormatter coin.current_price}}{{/amountFormatter}}</p>
                            </div>
                            <div class="col-6 col-md">
                                <p class="text-muted mb-2">24h variation</p>
                                <p class="h5 {{#checkIfUpOrDown coin.price_change_percentage_24h}}{{/checkIfUpOrDown}}">{{coin.price_change_percentage_24h}}%</p>
                            </div>
                        </div>
                    </div>
                </div>

            </aside>
        </div>
    </div>
</section>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script>
    const chart = document.querySelector('.cb-linechart')
    const ctx = chart.getContext('2d');
    const data = chart.dataset.sparkline.split(',');
    console.log(data)
    const days = '0123456'.split('').map(function(n) {
        var d = new Date();
        d.setDate(d.getDate() - n);

        return (function(day, month, year) {
            return [day<10 ? '0'+day : day, month<10 ? '0'+month : month].join('/');
        })(d.getDate(), d.getMonth()+1);
    }).reverse();
    console.log(days);
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: days,
            datasets: [{
                label: '# of Votes',
                data: data,
                borderColor: [
                    '#FF9C41',
                ],
                borderWidth: 3
            }]
        },
        options: {
            datalabels: {
                display: false,
            },
            plugins: {
                legend: {
                    display:false
                }
            },
            scales: {
                display:false,
                xAxes: [{
                    display: false //this will remove only the label
                }]
            }
        }
    });
</script>